body {
    font-family: Arial, sans-serif;
    background-color: rgba(231, 136, 149, 0.4);
    text-align: center;
    display: grid;
}

h1 {
    position: relative;
    color: #333;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-right: 45px;
    padding-left: 45px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.login-form , .signup-form{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 45px;
    padding-left: 45px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    width: 250px;
    background-color: rgba(231, 136, 149, 0.4);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.38) 0px 30px 90px;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: large;
}

.form-field input {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 60px;
    padding-left: 60px;
    margin: auto;
    background-color: rgba(50, 55, 97, 0.9);
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
}

button:hover {
    background-color: rgba(50, 55, 97, 1);;
}

button:active {
    opacity: 0.8;
}

.signup-link {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    color: rgb(50, 55, 97);
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.right-aligned label {
    display: grid;
    text-align: right;
    line-height: 30px;
}
